target
target/
/target
/target/
.idea
/.idea
.idea/
/.idea/
assets
assets/
/assets
/assets/
*.lock
*.rs.bk
*.txt
*.iml
rls/
*.spv
.DS_Store
*.gx3d
*.gx3d.rs
*.gx3d.hpp
*.gx3d.cpp
.vscode
/.vscode
.vscode/
/.vscode/
toolchains
/toolchains
toolchains/
/toolchains/
*.dylib
*.a
*.so
*.framework
*.apk
*.ipa
*.app
*.exe
*.png
*.jpg
*.ktx
*.ttf
*.gltf
*.glb
*.ogv
*.bin
*.blend